*.swp

/test/tests.bin

/easyloggingpp.zip
/releases/*

/logs/*
/samples/logs/*.log
/samples/multiple-files-project/logs/*.log

/samples/multiple-files-project/bin/*
/samples/bin/*

/samples/qt-sample/*.bin
/samples/qt-sample/logs/*
/samples/qt-sample/*.o
/samples/qt-sample/moc_*
/samples/qt-sample/Makefile

/samples/qt-sample-build-Desktop-Debug/*
/samples/qt-sample/qt-sample.pro.user
