*.swp

test/tests.bin

easyloggingpp.zip
easyloggingpp-full.zip
easyloggingpp-linked.zip

releases/*

samples/samples-linked/logs/myeasylog.log

samples/samples-full/logs/myeasylog.log

samples/multiple-files-project/logs/myeasylog.log

samples/multiple-files-project/bin/*

samples/samples-linked/bin/*

samples/samples-full/bin/*

samples/samples-full/qt-sample/*.bin
samples/samples-full/qt-sample/logs/*
samples/samples-full/qt-sample/*.o
samples/samples-full/qt-sample/moc_*
samples/samples-full/qt-sample/Makefile

samples/samples-linked/qt-sample/*.bin
samples/samples-linked/qt-sample/logs/*
samples/samples-linked/qt-sample/*.o
samples/samples-linked/qt-sample/moc_*
samples/samples-linked/qt-sample/Makefile
