*.swp

test/tests.bin

easyloggingpp.zip

releases/*

samples/logs/myeasylog.log

samples/multiple-files-project/logs/myeasylog.log

samples/multiple-files-project/bin/*

samples/bin/*

samples/qt-sample/*.bin
samples/qt-sample/logs/*
samples/qt-sample/*.o
samples/qt-sample/moc_*
samples/qt-sample/Makefile

samples/qt-sample-build-Desktop-Debug/*
samples/qt-sample/qt-sample.pro.user
